[submodule "libraries/RDFauthor"]
	path = libraries/RDFauthor
	url = git://github.com/amsl-project/RDFauthor.git
[submodule "libraries/Erfurt"]
	path = libraries/Erfurt
	url = git://github.com/amsl-project/Erfurt.git
